<div class="homePage container" [class.isDarkTheme]="isDarkTheme">
    <div class="homePage__toggleTheme">
        <mat-toolbar>
            <div class="flex-stretch"></div>
            <mat-icon class="mr-8" [class.isMatIconDarkTheme]="isDarkTheme">brightness_5</mat-icon>
            <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
            </mat-slide-toggle>
            <mat-icon [class.isMatIconDarkTheme]="isDarkTheme">bedtime</mat-icon>
        </mat-toolbar>
    </div>
    <div class="row">
        <div class="homePage__leftPart col-xl-3 col-lg-4 col-md-12 col-sm-12 col-12">
            <app-left-part [isDark]="isDarkTheme" (emitFlightSearch)="getFlightSearchResults($event)"></app-left-part>
        </div>

        <div class="homePage__rightPart col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="isFlightDestination && !backendErrorResponse">
            <app-right-part [flightsResult]="flightsDestinations"></app-right-part>
        </div>
        <div class="homePage__errorPart col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="backendErrorResponse && !isFlightDestination">
            <mat-error>{{backendErrorDetail}}</mat-error>
        </div>
        <div class="homePage__icon col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12" *ngIf="!backendErrorResponse && !isFlightDestination">
            <img [src]='airPlane'>
        </div>
    </div>
</div>