@import '~src/assets/styles/colorsVariables.scss';


.homePage {
    padding: 3%;
    height: 100%;
    --scrollbarBG: $lightMode;
    --thumbBG: #a79c95;

    &__rightPart {
        overflow: hidden;
        overflow-y: scroll;
        height: 81vh;

        &::-webkit-scrollbar{
            width: 9px;
        }

        &::-webkit-scrollbar-track {
            background: var(--scrollbarBG);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--thumbBG) ;
            border-radius: 100px;
            border: 3px solid var(--scrollbarBG);
        }
    }

    &__icon {
        text-align: center;

        img {
            width: 85%;
        }
    }
}

.isDarkTheme {
    background-color: $darkMode ;
	color: $lightMode;

    ::ng-deep {
        .mat-form-field-label {
            color: $lightMode!important;
        }

        .mat-form-field-flex {
            border-bottom: 1px solid $lightMode;
        }

        .mat-form-field-infix {
            input {
                color: $lightMode!important;
            }
        }

        .mat-select-value {
            color: $lightMode!important;
        }

        .mat-checkbox-frame {
            border-color: $lightMode!important;
        }
    }
}

mat-toolbar {
    background: none;
}

mat-icon {
    color: $darkMode;
}

mat-slide-toggle {
    margin: 0 1%;
}

.isMatIconDarkTheme {
    color: $lightMode;
}