<div class="leftPart">
    <form class="leftPart__form" [formGroup]="flightSearchForm" (keyup.enter)="searchFlight()">
        <div class="leftPart__form__cityChoice" [class.error]="getInvalidInput(origin)">
            <mat-form-field class="inputWithInformations">
                <mat-label>Origin</mat-label>
                <input matInput
                       [formControlName]="origin"
                       placeholder="Ex : MAD"
                       [value]="flightSearchForm.get(origin).value">
            </mat-form-field>
            <div class="leftPart__form__cityChoice__cityChoiceInformation inputInformation" *ngIf="!getInvalidInput(origin); else: originError">
                <markdown [data]="pleaseIota"></markdown>
            </div>
        </div>
        <ng-template #originError>
            <div class="leftPart__form__matError">
                <mat-error><markdown [data]="originRequired"></markdown></mat-error>
            </div>
        </ng-template>
        <div class="leftPart__form__informations inputInformation input" [class.originError]="getInvalidInput(origin)">
            <markdown [data]="followIotaLink"></markdown>
        </div>

        <div class="leftPart__form__departureDate input" [class.error]="getInvalidDate()">
            <mat-form-field>
                <mat-label>Depart date</mat-label>
                <input matInput [matDatepicker]="picker" [formControlName]="departureDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="leftPart__form__matError" *ngIf="getInvalidDate()">
            <mat-error>{{getErrorDateMsg()}}</mat-error>
        </div>
        <div class="leftPart__form__oneWay input">
            <mat-checkbox class="leftPart__form__oneWay__checkbox"
                          [formControlName]="oneWay">
            </mat-checkbox>
            <div class="leftPart__form__oneWay__oneWayLabel checkBoxLabel" [class.darkTheme]="isDark">
              One Way
            </div>
        </div>
        <div class="leftPart__form__duration input" *ngIf="getOneWayValue()" [class.error]="getInvalidInput(duration)">
            <mat-form-field class="inputWithInformations">
                <mat-label>Duration</mat-label>
                <input matInput
                       [formControlName]="duration"
                       placeholder="Ex : 12"
                       (keypress)="keyPress($event)"
                       [value]="flightSearchForm.get(duration).value">
            </mat-form-field>
            <div class="leftPart__form__duration__durationInformation inputInformation" *ngIf="!getInvalidInput(duration); else durationError">
                <markdown [data]="travelDuration"></markdown>
            </div>
        </div>
        <ng-template #durationError>
            <div class="leftPart__form__matError">
                <mat-error><markdown [data]="durationDaysError"></markdown></mat-error>
            </div>
        </ng-template>
        <div class="leftPart__form__nonStop input">
            <mat-checkbox class="leftPart__form__nonStop__checkbox"
                          [formControlName]="nonStop">
            </mat-checkbox>
            <div class="leftPart__form__nonStop__nonStopLabel checkBoxLabel" [class.darkTheme]="isDark">
              Non Stop
            </div>
        </div>
        <div class="leftPart__form__maxPrice input">
            <mat-form-field class="inputWithInformations" [class.error]="getInvalidInput(maxPrice)">
                <mat-label>Max Price</mat-label>
                <input matInput
                       [formControlName]="maxPrice"
                       placeholder="Ex : 50"
                       (keypress)="keyPress($event)"
                       [value]="flightSearchForm.get(maxPrice).value">
            </mat-form-field>
            <div class="leftPart__form__maxPrice__maxPriceInformation inputInformation" *ngIf="!getInvalidInput(maxPrice)">
                <p><markdown [data]="maxPriceInformations"></markdown></p>
            </div>
        </div>
        <div class="leftPart__form__matError"  *ngIf="getInvalidInput(maxPrice)">
            <mat-error><markdown [data]="maxPriceError"></markdown></mat-error>
        </div>
        <div class="leftPart__form__viewBy input">
            <mat-form-field>
                <mat-label>View By</mat-label>
                <mat-select [formControlName]="viewBy"
                            [(ngModel)]="viewBySelectedValue">

                    <mat-option *ngFor="let view of viewList"
                                [value]="view">
                                {{ view | uppercase }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="leftPart__form__searchButton">
            <button [disabled]="flightSearchForm.invalid" (click)="getFlightSearchResult()">Search</button>
        </div>
    </form>
</div>