/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
    font-family: Roboto, 'sans-serif' !important;
    font-size: 20px !important;
}

button {
    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}