

$darkMode: #333;
$lightMode: white;
$errorColor: red;

$backgroundButton: #11387f;
$backgrounButtonHover: #a79c95;
$backgroundButtonDisable: lightgrey;
$backgroundFlight: lavender;

$colorPrice: mediumvioletred;
$inputLabelColor: rgba(0,0,0,.54)